#mainContainer {
	height: 85vh;
}

#newLayerBtn {
	cursor: pointer;
}
#stage {
	height: 75vh;
	width: 80vw;
	margin: 0 auto;
}
.main-canvas,
canvas {
	border: 1px solid blue;

	/* cursor: none; */
	object-fit: contain;
	height: 100%;
	width: 100%;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}
.layerBtn {
	cursor: pointer;
}
.tile {
	border-bottom: 2px solid rgb(160, 160, 160);
}
.layerTitle {
	height: fit-content;
	width: 100%;
	/* background-color: rgb(211, 211, 211); */
}

.layerPreview {
	background-color: rgb(185, 185, 185);
	height: 3rem;
	width: 3rem;
}

#colorPicker {
	visibility: hidden;
	position: absolute;
}
#colorSelector {
	height: 40px;
	width: 74px;
	border-radius: 5px;
	/* border: 2px solid black; */
}
#currentColor {
	background-color: black;
	width: 50%;
	height: 100%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
#newColor {
	width: 50%;
	height: 100%;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.material-icons.md-14 {
	font-size: 14px;
}
.material-icons.white {
	color: #ffffff;
}

.toolBtn {
	cursor: pointer;
}
#controlsPanel {
	width: fit-content;
}
#colorHistoryPanel {
	width: 100%;
	min-height: 15px;
	min-width: 15px;
}
.prevColor {
	height: 15px;
	width: 15px;
	border: 2px solid black;
	border-radius: 5px;
}
.hidden {
	display: none;
}
.template {
	display: none !important;
}
