#mainContainer {
	height: 100vh;
}
#midContainer {
	margin-bottom: 20px;
}
#layerPanel {
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
}
.tile {
	display: flex;
	flex-flow: row;
	height: 50px;
	width: 50px;
	background-color: rgb(233, 233, 233);
	border: 2px solid rgb(87, 87, 87);
	color: #ffffff;
}
#newLayerBtn {
	border: 2px dotted black;
	height: 50px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.layerBtn {
	cursor: pointer;
}
#bglayer {
	height: 50px;
	width: 50px;
	background-color: ghostwhite;
	border: 2px solid black;
}

#stagePanel {
	height: 75vh;
}
.canvas {
	left: 0;
	right: 0;
	margin: auto;
	position: absolute;
	cursor: none;
	/* border: 1px solid blue; */
}
.active {
	border: 2px solid green;
}
.layerTitle {
	height: fit-content;
	width: 100%;
	background-color: rgb(85, 85, 85);
}
#colorPicker {
	visibility: hidden;
	position: absolute;
}
#colorSelector {
	height: 40px;
	width: 74px;
	border-radius: 5px;
	/* border: 2px solid black; */
}
#currentColor {
	background-color: black;
	width: 50%;
	height: 100%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
#newColor {
	width: 50%;
	height: 100%;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}
.material-icons.md-14 {
	font-size: 14px;
}
.material-icons.white {
	color: #ffffff;
}
.layerControlContainer {
	background-color: rgb(51, 51, 51);
}
.toolBtn {
	cursor: pointer;
}
button {
	border-radius: 50px;
	border: 2px solid black;
	background-color: rgb(241, 240, 240);
}
#controlsPanel {
	width: fit-content;
}
#colorHistoryPanel {
	width: 100%;
	min-height: 15px;
	min-width: 15px;
}
.prevColor {
	height: 15px;
	width: 15px;
	border: 2px solid black;
	border-radius: 5px;
}
.hidden {
	display: none;
}
