#mainContainer {
	box-sizing: border-box;
	height: 100vh;
	width: fit-content;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#canvasNavContainer {
	display: flex;
	width: 640px;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
	/* border: 1px solid blue; */
}

#canvasNavContainer button {
	margin-right: 5px;
}
#canvasOptions {
	display: flex;
	justify-content: space-evenly;
}
#layerPanelContainer {
	display: flex;
	flex-flow: column;
}
#tileContainer {
	display: flex;
	flex-flow: column;
}
.tile {
	display: flex;
	flex-flow: row;
	height: 50px;
	width: 50px;
	background-color: rgb(233, 233, 233);
	border: 2px solid rgb(87, 87, 87);
	color: #ffffff;
}
.active {
	border: 2px solid green;
}
#newLayerBtn {
	border: 2px dotted black;
	height: 50px;
	width: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.layerBtn {
	cursor: pointer;
}

#bglayer {
	height: 50px;
	width: 50px;
	background-color: ghostwhite;
	border: 2px solid black;
}

#midContainer {
	/* border: 1px solid green; */
	box-sizing: border-box;
	display: flex;
	flex-flow: row;
}
#colorHistoryContainer {
	width: 40px;
	display: flex;
	flex-flow: column;
	justify-content: flex-end;
	align-items: center;
}
#stageContainer {
	/* border: 1px solid blue; */
	box-sizing: border-box;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 500px;
	width: 500px;
	margin-right: 20px;
	margin-left: 20px;
}

.canvas {
	position: relative;
	transform: translate(-50%, -50%);
	position: absolute;
	cursor: none;
	box-sizing: border-box;
	border: 1px solid black;
}

#controlsContainer {
	/* border: 1px solid red; */
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	margin-top: 20px;
	width: 640px;
}
.layerTitle {
	height: fit-content;
	width: 100%;
	background-color: rgb(85, 85, 85);
}
#toolsContainer {
	display: flex;
	flex-flow: column;
	align-items: center;
}
#tools {
	/* border: 1px solid green; */
	width: 150px;
	display: flex;
	justify-content: space-around;
	margin: 5px;
}
#colorPicker {
	visibility: hidden;
	position: absolute;
}
#currentColor {
	height: 40px;
	width: 60px;
	border-radius: 50px;
	border: 2px solid black;
}
.material-icons.md-14 {
	font-size: 14px;
}
.material-icons.white {
	color: #ffffff;
}
.layerControlContainer {
	background-color: rgb(51, 51, 51);
}
.toolBtn {
	cursor: pointer;
}
button {
	border-radius: 50px;
	border: 2px solid black;
	background-color: rgb(241, 240, 240);
}

.prevColor {
	height: 35px;
	width: 35px;
	border: 2px solid black;
	border-radius: 50px;
}
.hidden {
	display: none;
}
