<div
	id="renameTileModal"
	class="modal fade"
	tabindex="-1"
	aria-labelledby="Rename Layer"
	aria-hidden="true"
	data-tileName=""
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Rename Layer</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				<form id="tileRenameForm" action="">
					<div class="form-group">
						<label for="tileRenameInput">Enter layer name:</label>
						<input
							type="text"
							name="tileRenameInput"
							id="tileRenameInput"
							placeholder=""
						/>
					</div>

					<div class="modal-footer">
						<button
							type="button"
							class="btn btn-secondary"
							data-bs-dismiss="modal"
						>
							Close
						</button>
						<button id="renameBtn" type="submit" class="btn btn-primary">
							Rename
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
