<div
	id="saveCanvasModal"
	class="modal fade"
	tabindex="-1"
	aria-labelledby="save image"
	aria-hidden="true"
>
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<form id="saveImageForm" name="saveImage" action="">
				<div class="modal-header">
					<h5 class="modal-title">Export your artwork.</h5>
					<button
						type="button"
						class="btn-close"
						data-bs-dismiss="modal"
						aria-label="Close"
					></button>
				</div>
				<div class="modal-body">
					<p>Choose your export format.</p>
					<div class="form-check">
						<input
							class="form-check-input"
							type="radio"
							name="fileFormat"
							id="svgRadio"
							checked
						/>
						<label class="form-check-label" for="svgRadio"> SVG </label>
					</div>
					<div class="form-check mb-3">
						<input
							class="form-check-input"
							type="radio"
							name="fileFormat"
							id="pngRadio"
						/>
						<label class="form-check-label" for="pngRadio"> .png </label>
					</div>
					<div>
						<label for="imageDimSlide" class="form-label"
							>Export image dimensions: <span id="exportDim"></span
						></label>
						<input
							class="form-control"
							type="range"
							id="imageDimSlide"
							aria-label="Image Dimension input"
							min="1"
							max="700"
							step="1"
							value="1"
						/>
					</div>
				</div>
				<div class="modal-footer">
					<button
						type="button"
						class="btn btn-secondary"
						data-bs-dismiss="modal"
					>
						Close
					</button>
					<button id="exportBtn" type="submit" class="btn btn-primary">
						Export
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
